#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.progress-container {
  width: 100%;
  margin: auto;
  background-color: #e7e5e5;
  /* Gray background */
  height: 30px;
  /* Adjust height as needed */
}

.progress-bar-header {
  height: 100%;
  background-color: #888 !important;
  /* Black overlay */
  transition: width 0.3s ease;
  /* Smooth transition */
}

.score-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.score {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.progress-container {
  position: relative;
  width: 50%;
  height: 20px;
  background-color: #fff;
  border: 1px solid #000;
}

.progress-bar,
.progress-bar-gray,
.progress-bar-light-gray {
  position: absolute;
  height: 100%;
  transition: width 0.3s ease;
  /* Add transition for width change */
}

.progress-bar {
  background-color: #000;
  /* Black section */
}

.progress-bar-gray {
  background-color: #888;
  /* Gray section */
}

.progress-bar-light-gray {
  background-color: #fff;
  /* Light gray section */
}


.answer-section {
  margin: 30px auto;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.question-text {
  margin-bottom: 23px;

}

.question-count {
  font-size: 25px;
  margin-bottom: 20px;

}

.difficulty-buttons {
  margin-bottom: 20px;
  margin-top: 33px;
}

.difficulty-buttons button {
  margin-left: 20px;
}

.answer-section button {
  margin: 10px 15px;
}

.score-section {
  font-size: 20px;
  margin: 17px 0px;
}

.feedback {

  font-size: 21px;
  margin-top: 10px;
  letter-spacing: 2px;

}